<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AK社区</title>
        <meta charset="UTF-8"/>
        <!-- Bootstrap core CSS -->
        <link href="/asserts/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/asserts/css/signin.css" rel="stylesheet">

    </head>
    <body class="text-center">
            <form class="form-signin" action=" ">
                <img class="mb-4" src="/111.jpg" alt="" width="72" height="72">
                <h1 class="h3 mb-3  font-weight-normal ">Login in</h1>
                <label class="sr-only">用户名</label>
                <input type="text" class="form-control" placeholder="Username" required="" autofocus="">
                <label class="sr-only">密码</label>
                <input type="password" class="form-control" placeholder="Password" required="">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> 记住我
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                <p class="mt-5 mb-3 text-muted">© 2019-9102</p>
                <a class="btn btn-sm">中文</a>
                <a class="btn btn-sm">English(还没写)</a>
            </form>

    </body>
</html>